{{- /*
// GoToSocial
// Copyright (C) GoToSocial Authors admin@gotosocial.org
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/ -}}

{{- with . }}
<main>
    <section>
        <h1>Not Visible</h1>
        <p>
            There's something at this URL but it's not visible to unauthenticated web visitors.
            This could be for a variety of reasons:
        </p>
        <ul>
            <li>It's a followers-only or direct post.</li>
            <li>It's a public or unlisted post but the author doesn't show these on the web.</li>
            <li>It's a reply to a post that is itself not visible.</li>
        </ul>
        <p>
            To try viewing it anyway, search the following URL in your fedi
            client of choice, and see if your fedi server will show it to you:
        </p>
        <div class="prism-highlighted">
            <pre class="language-url"><code class="language-url">{{- .url -}}</code></pre>
        </div>
        <p>
            If you believe this was an error, you can contact
            the instance admin. Provide them with the following
            request ID: <code>{{- .requestID -}}</code>.
        </p>
    </section>
</main>
{{- end }}